.contact {
    width: 100%;
    padding: calc($space-1x * 10);
    min-height: 40rem;

    &__info {
        font-family: ApfelGrotezk-Satt;

        & > p {
            margin-top: calc($space-1x * 3);

            & > a {
                cursor: none;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}