.about {
    // min-height: 40rem;
  
    font-family: "ApfelGrotezk-Regular";
  
    &__info {
      position: relative;
      display: flex;
      gap: $space-1x;
      padding: calc($space-1x * 4);
  
      @media (max-width: $breakpoint-lg) {
        flex-direction: column;
      }
  
      & img {
        pointer-events: none;
        user-select: none;
  
        @media (max-width: $breakpoint-lg) {
          width: 75vw;
        }
      }
  
      & > div:first-child {
        padding: 0 calc($space-1x * 30);
  
        @media (max-width: $breakpoint-lg) {
          padding: 0 calc($space-1x * 2);
        }
      }
  
      &__text {
        display: flex;
        flex-direction: column;
        gap: calc($space-1x * 2);
  
        @media (max-width: $breakpoint-lg) {
          margin-top: calc($space-1x * 4);
  
          & > p {
            text-align: right;
          }
          & > p:first-child {
            text-align: left;
          }
        }
      }
    }
  }
  