.header {
    position: fixed;
    width: 100%;
    height: calc($space-1x * 4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $space-1x;
    background-color: $color-primary;
    z-index: $z-index-header;

    &__left {
        background-color: pink;
    }

    &__right {
        display: flex;
        justify-content: space-between;
        gap: $space-1x;
    }
}