.hero {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: $color-primary;
    font-family: ApfelGrotezk-Regular;
    padding: calc($space-1x * 40);
  
    @media (max-width: $breakpoint-md) {
      // align-items: flex-start;
      padding: calc($space-1x * 2);
    }
  
    &__text-section {
      display: block;
      flex: 1;
      min-height: calc($space-1x * 23);
  
      @media (max-width: $breakpoint-md) {
        margin-bottom: 30%;
      }
    }
  }
  