.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: calc($space-1x * 40);
    background-color: $color-primary;
    font-family: ApfelGrotezk-Regular;

    &__text-section {
        display: block;
        flex: 1;
        min-height: calc($space-1x * 21);
    }
}