.curriculum {
  min-height: 40rem;

  &__info {
    display: flex;
    flex-direction: column;
    margin-top: calc($space-1x * 8);

    &__project {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: calc($space-1x * 4);
      padding: calc($space-1x * 4);

      @media (max-width: $breakpoint-md) {
        flex-direction: column;
        margin-bottom: calc($space-1x * 3);

        &:nth-of-type(2) > .curriculum__info__project__info {
          text-align: right;
        }
      }

      &:nth-of-type(2) > div > img {
        animation-delay: 1000ms;
      }
      &:nth-of-type(3) > div > img {
        animation-delay: 2000ms;
      }

      &__pic {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        & > img {
          width: 75%;
          object-fit: cover;

          @media (max-width: $breakpoint-md) {
            width: 100%;
          }
        }
      }

      &__info {
        flex: 1;

        @media (max-width: $breakpoint-md) {
          order: 1;
        }

        & > a {
          font-family: ApfelGrotezk-Satt;
        }
      }
    }
  }
}
