// breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

//spacing
$space-1x: 0.5rem;

// color
$color-primary: #262626; /* Very dark gray */
$color-secondary: #343434; /* Dark brown */
$color-accent: #c99261; /* Medium brown */
$color-light: #f67280; /* Dark red */
$color-lighter: #c06c84; /* Medium dark red */
$color-lightest: #6c5b7b; /* Light dark red */
$color-contrast: #355c7d; /* Dark navy blue */
$color-white: #ffffff; /* White */
$color-gray: #808080; /* Gray */
$color-black: #000000; /* Black */

$color-purple: #301934; /* Dark purple */
$color-green: #023020; /* Dark green */

// z-index
$z-index-base: 5;
$z-index-header: 50;
$z-index-modal: 100;
$z-index-sky: 1000;
$z-index-hell: -1000;