.environment {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: $z-index-sky;

    --distance-from-center: 30%;

    opacity: 0;
    transition: opacity 1s ease-in-out;

    &--visible {
        opacity: 1;
    }

    &__back-clouds {
        width: 100%;
        height: 100%;
        filter: invert(1);

        &::before,
        &::after {
            content: '';
            position:absolute;
            width:100%;
            height:100%;
            display:block;
    
            background:transparent url(/img/clouds.png) no-repeat;
            background-size: contain;
        }
        
        &::before {
            animation:move-clouds-back 50s reverse infinite;
        }

        &::after {
            animation:move-clouds-back 50s linear infinite;
        }
    }

    &__backdrop {
        --cell-size: 250px;

        display: grid;
        animation: invert-clouds 5s linear infinite;

        @media (max-width: $breakpoint-md) {
            --cell-size: 75px;
        }

        @media (max-width: $breakpoint-sm) {
            --cell-size: 50px;
        }

        &__cloud--double {
            max-width: 200%;
        }
    }

    &__cloud {
        content: '';
        position:absolute;
        width:100%;
        height:100%;
        display:block;

        background:transparent url(/img/clouds.png) no-repeat;
        background-size: contain;
        z-index:3;

        &--left {
            top:-200px;
            left:calc(var(--distance-from-center) * -1);
            right:0;
            bottom:0;
        }

        &--right {
            top:130px;
            left:var(--distance-from-center);
            right:0;
            bottom:0;

        }
    }
}

@keyframes move-clouds-back {
    from {transform: translateX(-100%);}
    to {transform: translateX(100%);}
}
@-webkit-keyframes move-clouds-back {
    from {transform: translateX(-100%);}
    to {transform: translateX(100%);}
}
@-moz-keyframes move-clouds-back {
    from {transform: translateX(-100%);}
    to {transform: translateX(100%);}
}
@-ms-keyframes move-clouds-back {
    from {transform: translateX(-100%);}
    to {transform: translateX(100%);}
}

@keyframes invert-clouds {
     0%, 100%  { -webkit-filter: brightness(0px) hue-rotate(0deg) saturate(0px); }
    50% { -webkit-filter: brightness(10) hue-rotate(180deg) saturate(10); }
}
@-webkit-keyframes invert-clouds {
     0%, 100%  { -webkit-filter: brightness(0px) hue-rotate(0deg) saturate(0px); }
    50% { -webkit-filter: brightness(10) hue-rotate(180deg) saturate(10); }
}
@-moz-keyframes invert-clouds {
     0%, 100%  { -webkit-filter: brightness(0px) hue-rotate(0deg) saturate(0px); }
    50% { -webkit-filter: brightness(10) hue-rotate(180deg) saturate(10); }
}
@-ms-keyframes invert-clouds {
     0%, 100%  { -webkit-filter: brightness(0px) hue-rotate(0deg) saturate(0px); }
    50% { -webkit-filter: brightness(10) hue-rotate(180deg) saturate(10); }
}
